:root {
    --main-font-color: #fff3e4;
    --main-color: #E99B26;
}

html {
    font-family: 'Poppins', sans-serif;
    user-select: none;
    font-size: 16px;
}

body {
    min-width: 300px;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
    line-height: 1.3;
    max-height: 100vh;
    background-color: #04111e;
    color: var(--main-font-color);
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.navbar {
    visibility: visible;
    top: 53.3px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s;
}

.navbar {
    color: var(--main-font-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    width: 100%;
    opacity: 0;
    background-color: #0e1b26;
    box-shadow: 0px 5px 15px #0000009c;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 33px;
    height: 1px;
    z-index: 9;
    background-color: var(--main-color);
    transition-duration: 0.2s;
}

.hamburger-lines::before {
    content: '';
    top: 8px;
}

.hamburger-lines::after {
    content: '';
    top: -8px;
}

#menu-toggle:checked~.hamburger-button .hamburger-lines {
    transform: rotate(45deg);
}

#menu-toggle:checked~.hamburger-button .hamburger-lines::before {
    display: none;
}

#menu-toggle:checked~.hamburger-button .hamburger-lines::after {
    transform: rotate(-90deg);
    top: 0;
}

header {
    color: var(--main-font-color);
    padding: 0.7rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 2.5rem;
    display: block;
}

.hamburger-button {
    display: flex;
    align-items: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.menu-btn {
    display: block;
    padding: 0.7rem;
    font-weight: 300;
    border-bottom: 1px solid #4f5b60b8;
}

#home {
    display: flex;
    padding: 0rem;
    background-image: linear-gradient(180deg, #02101dd5 0%, #4e5f688f 100%), url(../imgs/homebg.svg);
    background-position: center;
    flex-direction: column;
}

.about-box {
    padding: 2rem;
}

span.letter {
    font-weight: 400;
    color: var(--main-color);
}

h1 {
    font-size: 1.8rem;
    font-weight: 200;
}

.git-linked {
    margin-top: 0.7rem;
    display: flex;
}

.git-linked svg {
    margin-right: 0.8rem;
    display: block;
}

.section-title {
    background-color: #0e1b26;
    box-shadow: inset 0px -10px 15px -11px #000000;
}

h2 {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 300;
    color: var(--main-color);
    letter-spacing: 3px;
}

#projects {
    background-color: #13161a;
}

.project {
    background-color: #202830;
}

.project-title-container {
    background-color: #0e0e0e;
    background: linear-gradient(90deg, #132231 0%, #000000c2 100%);
}

.project-title {
    padding: 0.6rem 2.3rem 0.5rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    max-width: 1350px;
    margin: 0 auto;
}

.projects-intro {
    padding: 2rem 1rem;
}

.projects-intro .skills-icons {
    margin: 1rem;
    padding: 0;
}

h3 {
    text-align: center;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
}

.skills-box {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    padding: 2.5rem 1.1rem;
}

.project-description {
    font-weight: 300;
    margin-bottom: 1rem;
}

.projec-links {
    color: #E99B26;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem 0 1rem;
}

.project-preview {
    display: block;
    box-shadow: 0 0 9px #000000cc;
}

.not-yet {
    filter: blur(1px) saturate(0) brightness(0.5);
}

.used-skills {
    display: flex;
    margin-left: 0.5rem;
}

.skills-icons {
    display: block;
    width: 50px;
    max-width: 100%;
    padding: 0 0.3rem;
}

#contact {
    background-color: #121212;
    border-bottom: 1px solid #2a2a2a;
    background-image: linear-gradient(180deg, #0e151ce8 0%, #0d0d0d 100%), url(../imgs/homebg.svg);
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0 2rem;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--main-color);
    background-color: #09141b;
}

.form-input {
    box-sizing: border-box;
    display: block;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--main-color);
    box-shadow: rgb(16 162 212 / 10%) 0px 15px 17px -20px;
    padding: 1rem;
    font-weight: 200;
    margin: 1.3rem auto;
    color: var(--main-font-color);
    font-size: 1.1rem;
}

textarea.form-input {
    border: 1px solid var(--main-color);
    box-shadow: rgb(16 162 212 / 10%) 0px 15px 17px -20px;
    border-radius: 0.1rem;
    height: 150px;

}

::placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    font-weight: 200;
    letter-spacing: 0.06rem;
}

.btn-submit {
    display: block;
    margin: 2rem auto;
    font-size: 1.1rem;
    background: linear-gradient(135deg, #ffb1006c 0%, #000000 100%);
    border: none;
    border-radius: 0.2rem;
    color: var(--main-font-color);
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    box-shadow: rgb(0 0 0) 0px 15px 11px -17px;
}

footer {
    background-color: #0f0f0f;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-btn {
    display: block;
    padding: 1rem;
    color: var(--main-color);
}

footer p {
    text-align: center;
    font-size: 0.9rem;
    padding: 0 0 1rem;
    color: #c9c9c9;
    font-weight: 300;
}


@media (min-width: 576px) {

    .portrait {
        display: none;
    }

    .about-box {
        padding: 2rem;
    }

    .git-linked svg:hover {
        fill: var(--main-color);
        transition-duration: 0.2s;
        transform: scale(1.1);
    }

    #home {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: url(../imgs/ef3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 350px;
        flex-direction: row;
    }

    .project {
        margin: 1.5rem;
        max-width: 1200px;
    }

    .project-box {
        padding: 2.5rem;
    }

    .project:last-of-type {
        margin: 1.5rem 1.5rem 0;
    }

    .projects-container {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media (min-width: 768px) {

    html {
        font-size: 18px;
    }

    .navbar {
        visibility: visible;
        opacity: 1;
        width: auto;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        position: static;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
    }

    .hamburger-button {
        display: none;
    }

    .menu-btn {
        position: relative;
        border: none;
        padding: 0;
        margin: 0.7rem 1rem;
        font-weight: 400;
        letter-spacing: 0.03rem;
    }

    .menu-btn:hover {
        color: var(--main-color);
    }

    .menu-btn::before,
    .menu-btn::after {
        background: var(--main-color);
        content: '';
        position: absolute;
        z-index: -1;
    }

    .menu-btn::after {
        height: 0.08rem;
        left: 0%;
        top: 98%;
        width: 0;
        transition: all 0.3s;
    }

    .menu-btn:hover::after {
        width: 100%;
    }

    header {
        padding: 0;
    }

    .logo {
        margin-left: 2rem;
    }

    #home {
        padding: 4rem 1.6rem;
        height: 450px;
    }

    .skills-box {
        padding: 1rem;
    }

    .skills-icons {
        width: 60px;
    }

    .projec-links a:hover {
        color: var(--main-font-color);
        transition-duration: 0.3s;
    }

    form {
        max-width: 700px;
    }

    .btn-submit:hover {
        cursor: pointer;
        color: white;
        background-color: var(--main-color);
        transition-duration: 0.3s;

    }

    .footer-btn:hover {
        color: var(--main-font-color);
    }

}

@media (min-width: 992px) {

    header {
        max-width: 80%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }

    .logo {
        margin: 0;
    }

    #home {
        padding: 4rem 6rem;
        height: 600px;
    }

    .project-box {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        max-width: 1250px;
        margin: 0 auto;
        padding: 2.5rem 3.5rem;
    }

    .projec-links {
        white-space: nowrap;
        justify-content: flex-start;
    }

    .projec-links a {
        margin: 0 0.4rem;
    }

    .project-descriptionbox {
        margin-right: 2rem;
    }

    form {
        padding: 3rem 0;
    }

}


@media (min-width: 1400px) {

    #home {
        height: 100vh;
        padding: 17rem 12rem;
        align-items: flex-start;
    }

}